:root {
  --white-color: #f7f7ff;
  --black-color: #25292e;
  --primary-color: #6b52ae;

  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
}